html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial;

  & .button {
    padding: 26px 34px;
    font-size: 30px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
  }
}